#mainHeader{
    width: 100%;
    height: 70vh;
}
/* #card-1{
    display: flex;
    justify-content: space-between;
    
     
}  */

/* @media(max-width:500px){
    #secondDiv{
        margin: auto;
    }

} */


/* style="margin: 250px; margin-top: 50px;" */

.head{
    margin-top: -65px;
    margin-left: 15px;
}